[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
autopep8 ="*"
psutil = "*"
numpy = "==1.18.5"
matplotlib = "==3.3.3"
tdqm = "*"
alive-progress="*"

[dev-packages]

[requires]
python_version = "3.8"
